<div class="h-16 py-4 px-6 flex items-center justify-between w-full">
  <div class="flex items-center md:hidden">
    <button (click)="uiService.toggleSidebar()">
      <lucide-icon [img]="Menu" />
    </button>
  </div>
  <div class="ms-auto flex">
    <button (click)="uiService.toggleUserDropdown()" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
      <lucide-icon [img]="User" />
    </button>
    <ng-template
      cdkConnectedOverlay
      cdkConnectedOverlayHasBackdrop
      (overlayOutsideClick)="uiService.toggleUserDropdown(false)"
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="uiService.userDropdownOpen()"
    >
      <ul
        cdkTrapFocus
        [cdkTrapFocusAutoCapture]="true"
        class="mt-1 bg-white text-black rounded border border-slate-200 shadow p-1"
      >
        <li>
          <a [routerLink]="" class="flex items-center gap-2 p-2 rounded-sm cursor-pointer hover:bg-slate-200 w-full">
            <lucide-icon [img]="Settings" size="16" />
            <p>Configuration</p>
          </a>
        </li>
        <li>
          <button
            (click)="logout()"
            class="flex items-center gap-2 p-2 rounded-sm cursor-pointer hover:bg-slate-200 w-full"
          >
            <lucide-icon [img]="LogOut" size="16" />
            <p>Log out</p>
          </button>
        </li>
      </ul>
    </ng-template>
  </div>
</div>
